<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PaketVersion" value="5.179.401" />
    <add key="NugetSource" value="e:\github\fsprojects\Paket\temp" />
    <add key="PreferNuget" value="True" />
    <add key="IgnoreCache" value="True" />
  </appSettings>
</configuration>

